.c_get_started.v_follow{
  .secondary{
    .image img{
      display: block;
      background: #eee;
      width: 160px;
      height: 160px;
    }
  }
  #front .freestyle_btn{
    margin-top: -21px;
  }
}