.c_get_started.v_interests{
  .interest_gallery{
    @include clearfix;
    >li{
      float: left;
      margin: 0px 20px 10px 0;
      text-align: center;
      &:nth-child(6n){
        margin-right:0px;
      }
      img{
        display: block;
        width: 90px;
        height: 90px;
        background: #eee;
        margin-bottom: 10px;
      }
    }
  }
}