/* All overlays and sizes */
.overlay{
  &.c_selections.v_edit{ @include center_with_absolute_position;}
  &.c_info.v_screenshots{ @include center_with_absolute_position(800px);}
  &.c_items.v_new{ @include center_with_absolute_position;}
  &.c_selections.v_change_image{ @include center_with_absolute_position;}  
  &.c_feedbacks.v_new{ @include center_with_absolute_position;}
  &.c_selections.v_grab{ @include center_with_absolute_position(300px);}
  &.c_invitation_requests{ @include center_with_absolute_position;}
  &.c_invitation_outgoing{ @include center_with_absolute_position;}
  &.c_errors.v_upgrade{ @include center_with_absolute_position;}
  &.c_errors.v_not_supported{ @include center_with_absolute_position;}
  &.c_bindles.v_edit_necessary{ @include center_with_absolute_position;}
  &.embed_share{ /*see embed.scss*/ }
}
#overlays {
  display: none;
  @include position(absolute, 0, 0, 0, 0);
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 6001;
}
.overlay {
  background: #eee;
  padding: 20px 30px;
  margin-top: 50px;
  @include box-shadow(rgba(0,0,0,.7) 0 5px 20px 0);
  @include emboss_border;
  @include border-radius(5px);
  @include box-sizing(border-box);
    .close_overlay.cross {
      @include position(absolute, 5px, 7px, auto, auto, 16px, 16px);
      .icon16{
        margin-right: 0;
      }
    }
    h5{
      @include impress;
      font-weight: bold;
      text-align: left;
      margin-bottom: 6px;
    }
    p{
      //@include osfont;
      margin-bottom: 10px;
      text-align: left;
    }
  .meta_wrapper {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
    border: 1px solid #ccc;
    @include box-sizing(border-box);
    @include border-radius(5px); 
    @include clearfix;
  }
}